{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript-prettier",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "off",
    "no-console":"off",
    "class-methods-use-this":"off",
    "no-plusplus":"off",
    "eqeqeq":"off",
    "func-names":"off",
    "no-loop-func":"off",
    "no-await-in-loop":"off",
    "no-param-reassign":"off",
    "no-useless-escape":"off",
    "no-underscore-dangle":"off",
    "prefer-object-spread":"off",
    "camelcase":"off",
    "import/first": "off"
  }
}
